
/*******************************************************************

This chunk is to fix Bootstrap so that the Markdown output looks good

*******************************************************************/

body {
  /*padding-top: 60px;*/
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 150%;
}

xmp, textarea {
  display: none;
}

h1 {
  margin: 40px 15px 15px 0;
}

h2 {
  margin: 30px 15px 10px 0;
}
h3 {
  margin: 25px 15px 8px 0;
}
h4 {
  margin: 15px 15px 8px 0;
}
h5 {
  margin: 15px 15px 8px 0;
}
h6 {
  margin: 15px 15px 8px 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child
{
  margin-top:0;
}

.pre-container {
  /*margin: 20px 0;*/
}

img {
  margin: 10px 0;
}

.navbar {
  z-index: 1;
}

.table {
  width: auto;
}

#content p a, #content li a {
  text-decoration: none;

  /*text-shadow: 1px 0px 0px white, -1px 0px 0px white, 2px 0px 0px white, -2px 0px 0px white, 3px 0px 0px white, -3px 0px 0px white, 4px 0px 0px white, -4px 0px 0px white;*/
  box-shadow: inset 0px -1px 0px 0px #cc0000;

  /*border-bottom: 1px dashed #c00;*/
}

#content p a:hover, #content li a:hover {
  /*text-decoration: underline;*/

  border-bottom: 1px dashed #c00;

  text-shadow: none;
  box-shadow: none;

  /*border-bottom: none;*/
}

/*******************************************************************

This chunk is for Google's Code Prettify:
http://google-code-prettify.googlecode.com

*******************************************************************/


/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }


.quiz-toolbar {
  display: inline-table;
  margin-top: -5px;
  margin-bottom: 10px;
}

.quiz-toolbar:last-of-type {
  margin-bottom: -5px;
}

.quiz-toolbar div {
  display: inline-block;
  min-width: 20ch;
}

.quiz-toolbar input[type="radio"] {
    display:none;
}

.quiz-label {
    display:block;
    background-color:#fafafa;
    padding:2px 11px;
    border-radius: 3px;
    font-size:0.9em;
    /*font-family:Arial;
    font-size:16px;*/
    border-color: #ccc;
    border-style: solid;
    border-width: thin;
    font-weight: normal;
}

.quiz-float {
  display: inline-block;
}

.quiz-toolbar label:hover{
  background-color:#ccc;
}

.quiz-toolbar .answer-wrong:checked + label {
    background-color:#d9534f;
    border-color:#a9231f;
}

.quiz-toolbar .answer-right:checked + label {
    background-color:#5cb85c;
    border-color: #2c982c;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
